.container {

    width: 1200px;
    height: 600px;
    background-color: rgb(255, 255, 255);

  }

  .block {
    width: 10px;
    height: 10px;
    background-color: white;
    border: 0.1px solid black;
    float: left;
  }